body{
    margin: 0;
}

/*--- navbar--- */

.pic img{
    width: 100px;
}
.nav-link:hover{
    border-bottom: 2px solid !important;
    color: orange !important;
    border-color: orange !important;
}

/*---- first banner----- */
.carousel-container{
    background-image: url(images/bg-2.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 154px;
    margin:0;
    

}
.first-pic{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 60px;
    
}

.color-style{
    color: white;
    text-decoration: none;
    
}
/*------ second-banner----- */
.span-style{
    color: orange;
}
/* fourth */
.title-heading{
    border-bottom: 5px solid orange;
}
.footer-edit{
    border:10px !important;
    margin: 5px;
    border-radius: 10px;
    
} 
/*----- responsive---- */
@media only screen and (min-width: 993px) {
    .bar-position{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;}
        .first-section{
            justify-content: center;
        }
    }
    @media only screen and (min-width:689px) and (max-width:992px){
        .bar-position{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;}
            .first-section{
                margin-top: 60px;
            }
            .first-section{
                justify-content: center;
            }
        
    }
    @media only screen and (max-width:687px) {
        .bar-position{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;}
            .first-section{
                margin-top: 60px;
            }
        
        
    }